/*This is how to comment*/
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
  font-family: arial;
}

.ingredients{
  font-weight: bold;
}

#burger_selection{
  color: white;
  background-color: black;
  border: 2px dashed white;
}

#burger_selection > div{
  margin: 10px;
  padding: 10px;
}

#order_info{
  border: 2px dashed black;
}

button:hover{
  background-color: green;
  cursor: pointer;
}

section{
  margin: 5px 10px 5px 10px;
  padding-left: 10px;
  border-radius: 10px;
}

button{
  margin-top: 10px;
}

.head{
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  overflow: hidden;
}

.head > img{
  opacity: 0.75;
  width: 100%;
  height: auto;
}

.head > h1{
  position: absolute;
  opacity: 1;
}
